.brand {
  letter-spacing: 3px;
  font-size: large;
  font-weight: 900;
}

.brand li {
  font-size: 18px;
}

.card {
  display: flex;
  flex-flow: row wrap;
  width: 286px;
  box-shadow: -1px 5px 5px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: -1px 5px 5px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -1px 5px 5px 4px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s;
}

.card-header img {
  width: 240px;
  height: 180px;
  padding: 5px;
}

.card-title {
  font-size: medium;
}

.card:hover {
  transform: scale(1.05);
}

.card-containerr {
  margin-left: auto;
  margin-right: auto;

  height: 210px;
 
  margin: 20px;
  background-color: azure;
  text-align: center;
}
.containerr {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.image-container {
  height: 180px;
  width: 200px;
  background-color: white;
  text-align: center;
}
.product-image {
  height: 160px;
  width: 140px;
}
